*{
    margin: 0;
}

.top-container{
    font: 50px 'Sacramento', cursive;
    color: #008ea7;
    background-color: rgb(160, 241, 255);
    background: linear-gradient(rgb(141, 238, 255), rgb(211, 250, 255));
    padding: 50px 0 120px;
    text-align: center;
    position: relative;
}
/* .top-container h1{
    font: 50px 'Sacramento', cursive;
    color: #008ea7;
    font-weight: bold;
}*/
.top-container p{
    font: 30px cursive;
    color: #008ea7;
} 

.pro{
    text-decoration: underline;
}
img{
    height: 25%;
    width: 25%;
    display: inline-block;
}

.upper-cloud{
    height: 100px;
    position: relative;
    right: -350px;
    top: -80px;
    padding-top: 100px;
}

.lower-cloud{
    height: 100px;
    width: 240px;
    position: relative;
    right:10px;
    bottom:110px;
}
.mountain{
    position: relative;
    height: 260px;
    width: auto;
    top: 140px;
    left: -120px;
}

.middle-container{
    color: #006c80;
    padding-top: 100px;
    /* height: 700px; */
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.profile{
    width: 50%;
    margin: auto;
}

.profile h1{
    font-size: 50px;
}

.profile h4{
    font-size: 40px;
    padding: 20px;
}

.profile p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #696969;
    line-height: 2;
}

.profile img{
    height: 250px;
    width: auto;
    border-radius: 50%;
}

hr{
    border-top: 10px dotted #8d8d8d;
    width: 6%;
    margin: 60px auto;
}

/* .mySkills{
    padding: 10px;
} */

.mySkills h1{
    font-size: 50px;
    color: #295966;
    padding-bottom: 40px;
}

.mySkills h3{
    font-size: 40px;
    color: #008ea7;
    padding-bottom: 30px;
}

.mySkills p{
    color:rgb(90, 90, 90);
    font-size: 20px;
    /* font-weight: bold; */
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 2;
}

.myskills-row{
    width: 60%;
    margin: 100px auto;
    text-align: left;
    padding-bottom: 60px;
}

/* .myskills-row img{
    border-radius: 50%;
    height: 40%;
    width: 40%;
    float: left;
} */

.cpp-img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    float: left;
    margin-right: 50px;
}

.webd-img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    float: right;
    margin-left: 50px;
}

.contact{
    margin: 50px;
}
.contact h1{
    font-size: 50px;
    padding-bottom: 40px;
}

.contact p{
    color: rgb(102, 102, 102);
    font-size: 23px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 40px;
}

.contact-btn{
    background-color: white;
    /* margin: 50px; */
    padding: 3px 40px;
    border: 1px solid #008ea7;
    text-decoration: none;
    color: #0089a1;
    border-radius: 60px;
    font-size: 30px;
    font-weight: bold;
    transition: 0.25s ease-in;
}

.contact-btn:hover{
    background-color: #5293a5;
    color: white;
}

.bottom-container{
    background-color:#295966;
    color:white;
    height: 60px;
    width: 100%;
    padding: 30px 0 0;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* contact page */

.con {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../img/contactBG.jpg");
    /* width: 100%;
    height: auto; */
    /* url(../img/contactBG.jpg); */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    color:#d3d3d3;
    text-align: center;
}
.home-btn{
    text-decoration: none;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #00c4e7e3;
    font-size: 30px;
    display: block;
    right: 100px;
    padding: 30px;
    position:absolute;
    text-align: right;
    letter-spacing: 1px;
    transition: .2s ease-in;
}

.home-btn:hover{
    color: #00c4e798;
    transform: scale(1.1);
}
/* .con img{
    background-image: linear-gradient(rgba(236, 0, 0, 0.3), rgba(248, 103, 103, 0.1));
} */
.con h1{
    font-size:40px;
    padding: 30px 0 15px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    /* z-index: 2; */
}

.con p{
    /* padding: 30px; */
    font-size: 25px;
}

.content{
    display: inline-flex;
}

.column{
    text-align: left;
    color: black;
    font-size: 18px;
    font-family:sans-serif;
    background: #fffefea2;
    width: 335px;
    height: auto;
    margin: 50px;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.column p{
    font-size: 23px;
    color: rgb(41, 50, 66);
    padding: 10px;
    text-align: center;
}
.column .form{
    padding: 10px 30px;
    line-height: 35px;
    background-color: rgba(58, 71, 94, 0.815);
    color: rgb(255, 255, 255);
}

/* .column .form p{
    background-color: #8d8d8d;
} */

.column .form .input{
    width: 250px;
    padding: 10px;
    background-color: #cacacad5;
    border-radius: 5px;
    border: none;
}

.column .submit-btn{
    width: 270px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background: linear-gradient(rgba(8, 8, 8, 0.3), rgba(0, 0, 0, 0.8));
    color: rgba(255, 255, 255);
    transition: 0.3s ease-in;
}

.column .submit-btn:hover{
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(202, 202, 202, 0.8));
    color: rgb(73, 73, 73);
}

.col2{
    text-align: left;
    color: rgb(231, 231, 231);
    font-size: 18px;
    font-family:sans-serif;
    background: #4b4b4bc9;
    border-radius: 10px;
    right: 200px;
    width: auto;
    padding: 20px;
    height: 200px;
    margin: 100px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* display: block; */
}
.col2 p{
    font-size: 22px;
}

.col2 .social img{
    margin: 30px;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.2s;
}

.col2 .social :hover{
    transform: scale(1.2);
}
::selection{
    background-color: #00a1bd79;
}
